server/views/index.html
<!DOCTYPE html><html><head><title>Angular timer</title><link rel="stylesheet" href="/vendor/bootstrap/dist/css/bootstrap.min.css"><link rel="stylesheet" href="/vendor/toastr/toastr.css"><link rel="stylesheet" href="/css/site.css"><base href="/"></head><body ng-app="app"><div class="navbar navbar-inverse navbar-fixed-top"><div class="container"><div class="navbar-header"><a href="/" class="navbar-brand">Timer Application</a></div><div class="navbar-collapse collapse"><div ng-include="'/views/user/navbar-in.html'"></div></div></div></div><section class="content"><div ng-view></div></section><footer class="container text-center"><p>&copy; 2015 Test Angular Timer Application</p></footer><script type="text/javascript" src="/vendor/jquery/dist/jquery.js"></script><script type="text/javascript" src="/vendor/bootstrap/dist/js/bootstrap.min.js"></script><script type="text/javascript" src="/vendor/moment/moment.js"></script><script type="text/javascript" src="/vendor/toastr/toastr.js"></script><script type="text/javascript" src="/vendor/angular/angular.min.js"></script><script type="text/javascript" src="/vendor/angular-resource/angular-resource.min.js"></script><script type="text/javascript" src="/vendor/angular-route/angular-route.min.js"></script><script type="text/javascript" src="/vendor/angular-cookies/angular-cookies.min.js"></script><script type="text/javascript" src="/app/app.js"></script><script type="text/javascript" src="/app/main/mainCtrl.js"></script><script type="text/javascript" src="/app/filters/momentFlt.js"></script><script type="text/javascript" src="/app/filters/secondsToTime.js"></script><script type="text/javascript" src="/app/common/notifier.js"></script></body></html>

server/views/index.jade
extends ../includes/layout

block main-content
    .navbar.navbar-inverse.navbar-fixed-top
        .container
            .navbar-header
                a.navbar-brand(href="/") Timer Application
            .navbar-collapse.collapse
                div(ng-include="'/views/user/navbar-in.html'")
    section.content
        div(ng-view)
    footer.container.text-center
        p &copy; 2015 Test Angular Timer Application
